.vs/Godspeed/CopilotIndices/17.13.412.44928/CodeChunks.db
.vs/Godspeed/CopilotIndices/17.13.412.44928/CodeChunks.db-shm
.vs/Godspeed/CopilotIndices/17.13.412.44928/CodeChunks.db-wal
.vs/Godspeed/CopilotIndices/17.13.412.44928/SemanticSymbols.db
.vs/Godspeed/CopilotIndices/17.13.412.44928/SemanticSymbols.db-shm
.vs/Godspeed/CopilotIndices/17.13.412.44928/SemanticSymbols.db-wal
.vs/Godspeed/FileContentIndex/3ed42e4f-59c4-4c87-9338-950ba4506878.vsidx
.vs/Godspeed/v17/.suo
.vs/Godspeed/DesignTimeBuild/.dtbcache.v2
.vs/Godspeed/FileContentIndex/0469d7ca-b876-4164-8b54-f126f707cb85.vsidx
.vs/Godspeed/FileContentIndex/279587d2-fb81-4844-b59c-a30287579ceb.vsidx
.vs/Godspeed/FileContentIndex/c39e72d2-8a18-4708-84e3-c72b513c7970.vsidx
.vs/Godspeed/v17/.futdcache.v2
.vs/Godspeed/v17/DocumentLayout.backup.json
.vs/Godspeed/v17/DocumentLayout.json
.vs/ProjectEvaluation/godspeed.metadata.v9.bin
.vs/ProjectEvaluation/godspeed.projects.v9.bin
.vs/ProjectEvaluation/godspeed.strings.v9.bin
bin/Debug/net472/Godspeed.dll
bin/Debug/net472/Godspeed.pdb
bin/Debug/net9.0/0Harmony20.dll
bin/Debug/net9.0/Godspeed.deps.json
bin/Debug/net9.0/Godspeed.dll
bin/Debug/net9.0/Godspeed.pdb
