.vs/Godspeed/CopilotIndices/17.13.412.44928/CodeChunks.db
.vs/Godspeed/CopilotIndices/17.13.412.44928/CodeChunks.db-shm
.vs/Godspeed/CopilotIndices/17.13.412.44928/CodeChunks.db-wal
.vs/Godspeed/CopilotIndices/17.13.412.44928/SemanticSymbols.db
.vs/Godspeed/CopilotIndices/17.13.412.44928/SemanticSymbols.db-shm
.vs/Godspeed/CopilotIndices/17.13.412.44928/SemanticSymbols.db-wal
.vs/Godspeed/FileContentIndex/3ed42e4f-59c4-4c87-9338-950ba4506878.vsidx
.vs/Godspeed/v17/.suo
